<div class="flex-auto">
  <div class="flex flex-col">
    <app-content-navbar [isBack]="false" [title]="'Holidays'">
    </app-content-navbar>

    <div class=" bg-gray-100">
      <div class="flex justify-end m-3 items-center">

        <div class="ml-7" *ngIf="permissions?.manage || permissions?.add">
          <button mat-raised-button color="primary" (click)="add()">
            Add holidays
          </button>
        </div>
      </div>

      <no-data-found *ngIf="!list?.length"></no-data-found>
      <div style="margin: 15px" class="lg:flex" *ngIf="list?.length">
        <div class="lg:w-4/6 md:w-full sm:w-full" >
          <div class="grid lg:grid-cols-4 gap-2 m-3 md:grid-cols-2 sm:grid-cols-2 ">
            <mat-card class="calendar-card relative hover:bg-gray-200 shadow-md cursor-pointer border hover:border" *ngFor="let holidays of list" (click)="View(holidays)">
              <mat-card-header>
                <div mat-card-avatar class="card-avatar"><mat-icon>calendar_month</mat-icon></div>
                <mat-card-title>{{holidays?.name}}</mat-card-title>
              </mat-card-header>
              <div class="">
                <div style="margin:48px auto; text-align:center" *ngIf="!holidays.data?.length">
                <h3  class="font-normal"> No holidays...</h3>
                </div>
                <div  *ngIf="holidays.data?.length">
                  <ul class="text-lg">
                    <li *ngFor="let list of holidays?.data | slice :0:3">{{$any(list).onThisDay | titlecase}}</li>
                  </ul>
                </div>
              </div>
                
              <div class="text-right">
                <button mat-button color="primary" *ngIf="holidays?.data?.onThisDay?.length > 3" >View</button>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="lg:w-2/6 md:w-full">
            <mat-card class="calenderView-card m-3" >
              <mat-card-header>
                <mat-card-title>{{selected?.name}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <no-data-found class="m-3" *ngIf="!selected?.data?.length"></no-data-found>
                <div *ngIf="selected?.data?.length">
                   <mat-card class="m-2 border box-border" *ngFor="let day of selected?.data">
                    <div class="flex ">
                      <div style="max-width:80%; width:80%">
                        <div class="flex sm:flex-col sm:my-2 md:flex-row flex-wrap break-all">
                           <span class="">From date:<span> {{day?.fromDate | date:'shortDate'}}</span></span>
                          <span class="ml-3">To date:<span> {{day?.fromDate | date:'shortDate'}}</span></span>
                        </div>
                        <div class="">
                          <span class=" text-md font-medium">{{day?.onThisDay | titlecase}}</span>
                        </div> 
                      </div> 
                      <div class="max-width:20%; width:20% sm:flex"  *ngIf="permissions?.manage || permissions?.update">
                        <button 
                        class="md:w-2/4 sm:w-2/4" mat-icon-button color="primary" (click)="$event.stopPropagation(); action(day, 'edit')" >
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button 
                        *ngIf="permissions?.manage || permissions?.delete"
                        class="md:w-2/4 sm:w-2/4" mat-icon-button color="primary" (click)="$event.stopPropagation(); action(day, 'delete')">
                          <mat-icon>delete</mat-icon>
                        </button>
                       
                      </div> 
                    </div>
                    
                 
                
                </mat-card>
                </div>
               
              </mat-card-content>
              <mat-card-actions>
              </mat-card-actions>
            </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>