.calendar-card{
  .mat-card-header{
    color: #3f51b5;
  }
height: 14rem;
::ng-deep{ .mat-card-header-text{
  margin:4px 16px !important;
}
}
.card-avatar{
  height: 0 !important;
  width: 1rem !important;
}
no-data-found {
  width:100% !important;
  height:100% !important;
}
ul {
  list-style: none;
}
ul li{
  font-size: 18px;
  font-weight: 400;
  color: rgb(246, 19, 19);

}
ul li::before {
  content: "\2022";
  color: rgb(246, 19, 19);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
}
.calenderView-card{
  padding: 14px 10px !important;
  .border{
  padding: 14px 10px !important;
  }
  .mat-icon-button{
    width:40px !important;
  }

  // flex-wrap: wrap;
  //   word-break: break-all;
 }