<div class="container" style="margin-top: 150px">
  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <div class="card ">
        <div class="card-body">
      <img class="icon" style="margin:15px auto" src="assets/images/logo2.png" alt="" width="100px">        
            <div class="text-center">
                <h1>
                  Forgot Password
                </h1>
              </div>
              <form autocomplete="off">
                <div class="form-group mt-4 mb-3">
                  <label for="">Email</label>
                  <input
                    type="email"
                    name="email"
                    placeholder="Enter your registered Email"
                    class="form-control"
                  />
                </div> 
                <div class="row">
                  <div class=" col-12 col-md-6 col-sm-4 ">
                    <div class="form-group ">
                      <button type="submit" class="btn btn-success shadow">Send Request </button>
                    </div>                
                  </div> 
                  <div class=" col-12 col-md-6 col-sm-8">              
                    <a class="float-end" routerLink="../login">
                      Return to Login
                    </a>
                </div>  
                </div>
            </form>
        </div>   
      </div>
    </div>
  </div>
</div>
