<!-- <div class="container" style="margin-top: 150px">
  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <div class="card ">
        <div class="card-body">
      <img class="icon" style="margin:15px auto" src="assets/images/logo2.png" alt="" width="100px">        
            <div class="text-center">
                <h1>
                  Forgot Password
                </h1>
              </div>
              <form autocomplete="off">
                <div class="form-group mt-4 mb-3">
                  <label for="">Email</label>
                  <input
                    type="email"
                    name="email"
                    placeholder="Enter your registered Email"
                    class="form-control"
                  />
                </div> 
                <div class="row">
                  <div class=" col-12 col-md-6 col-sm-4 ">
                    <div class="form-group ">
                      <button type="submit" class="btn btn-success shadow">Send Request </button>
                    </div>                
                  </div> 
                  <div class=" col-12 col-md-6 col-sm-8">              
                    <a class="float-end" routerLink="../login">
                      Return to Login
                    </a>
                </div>  
                </div>
            </form>
        </div>   
      </div>
    </div>
  </div>
</div> -->

<div class="bg">
  <div style="padding:10%">
    <mat-card>
      <mat-card-content>
        <div class=" logo m-auto my-2">
          <a href="#">
            <img src="assets/images/logo2.png" alt="logo of expertizzy">
          </a>
        </div> 
        <form #PasswordForm="ngForm">
          <mat-form-field>
            <input type="text" matInput placeholder=" enter your Email" id="email"  name="email"  [(ngModel)]="email" required email>
            <mat-error>email is required</mat-error>      
           </mat-form-field>
          <div class="flex justify-between -mt-3"  *ngIf="isValidEmail">
          <span class="text-green-500 text-base">Code Has Been Sent Your Registered Mail </span>
          <a href="#">Resend ?</a>
          </div>
          
          <mat-form-field *ngIf="isValidEmail">
            <mat-label>Code</mat-label>
            <input
              matInput
              Pattern="[0-9]{6}"
              required
              maxlength="6"
              autocomplete="off"
            /> 
          </mat-form-field>
        
        <div mat-dialog-actions class="my-3">
          <button mat-raised-button color="primary" [disabled]="!PasswordForm.form.valid" (click)="canClick()" class="w-full">Submit</button>
        </div>
              <a class="no-underline mb-2" routerLink="../login"> Return To Login ?</a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

