table{
    width:100%;
    padding: 0 10px;
}
.example-container {
    height: 75vh;
    max-width: 100%;
    overflow: auto;
  }
  .mat-card{
    padding: 10px 15px !important;
    border-radius: 4px;
    color: #5f6162;
}
.mat-header-cell {
    color: #4050b5 !important;
    font-weight: 800;
    border-bottom-width: 1px;
    border-bottom-color: #4050b5;
    border-bottom-style: solid;
   
  }
  .mat-header-cell.text-right{
    text-align: right;
  }
  .mat-header-cell.center{
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .mat-cell, .mat-footer-cell {
    color: rgba(0,0,0,.87);
  }

  .mat-row:hover {
    background-color: #cccccc4a;
    cursor: pointer;
  }
  tr.mat-row, tr.mat-footer-row {
    height: 50px !important;
}

