<div class="flex-auto">
    <div class="flex flex-col">
      <app-content-navbar [isBack]="false" [title]="'Financial years'">
      </app-content-navbar>
  
      <div class="min-h-screen bg-gray-100">
        <div class="flex justify-end m-3 items-center">
          <div class="w-full">
            <mat-form-field class="example-full-width w-full search-box m-0 mr-4">
              <span matPrefix> </span>
              <input
                type="text"
                matInput
                placeholder="Search here"
                name="search"
                [(ngModel)]="searchText"
                (click)="search()"
              />
              <button matSuffix mat-button>
                <mat-icon (click)="search()">search</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="ml-7" *ngIf="permissions?.manage || permissions?.add ">
            <button mat-raised-button color="primary" (click)="add()">
              Create financial year
            </button>
          </div>
        </div>

      <no-data-found *ngIf="!financialYear?.length"></no-data-found>

        <div style="margin: 15px" class="example-container" *ngIf="financialYear?.length">
          <table
            mat-table
            [dataSource]="financialYear"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="financialYear">
              <th mat-header-cell  *matHeaderCellDef>Financial year</th>
              <td mat-cell  *matCellDef="let element">
                {{ element.financialYear | titlecase }}
              </td>
            </ng-container>
            <ng-container matColumnDef="currentYear">
              <th mat-header-cell class=""  *matHeaderCellDef>Current year</th>
              <td mat-cell class=""  *matCellDef="let element">
                {{ element.currentYear | titlecase }}
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element" [style.color]="element?.status  ? 'green' :'red' ">
                {{ element?.status ? 'Active': 'In active'}}
                <mat-slide-toggle 
                color="primary" 
                [(ngModel)]="element.status"
                (change)="upadateStatus(element)"
              ></mat-slide-toggle>
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle 
                color="primary" 
                [(ngModel)]="element.status"
                (change)="upadateStatus(element)"
              ></mat-slide-toggle>
              </td>
            </ng-container> -->
            
            <ng-container *ngIf="permissions?.manage || permissions?.delete || permissions?.update " matColumnDef="actions">
              <th mat-header-cell class="text-right"  *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element"  class="text-right mr-8">
                <button
                *ngIf="permissions?.manage || permissions?.update "
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a vertical three dot icon"
                  (click)="$event.stopPropagation(); action(element, 'edit')"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                *ngIf="permissions?.manage || permissions?.delete "
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a home icon"
                  (click)="$event.stopPropagation(); action(element, 'delete')"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
