<div class="flex justify-end ml-3 mt-3 mb-3 mr-3">
  <button mat-raised-button color="primary" (click)="add()">+ Add</button>
  </div>
<div style="margin: 15px;" class="example-container ">
    <table mat-table [dataSource]="list" class="mat-elevation-z8">
      <ng-container matColumnDef="departmentId">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element">{{element.departmentId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.departmentName | titlecase}} </td>
      </ng-container>
   
    
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="departmentHead">
        <th mat-header-cell *matHeaderCellDef> Head of the department </th>
        <td mat-cell *matCellDef="let element"> {{element.departmentHead | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" > 
          <button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon" (click)="$event.stopPropagation();action(element,'edit')">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="$event.stopPropagation();action(element,'delete')">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="action(row,'view')"></tr>
    </table>
    </div>
    <div class="flex justify-center ml-3 mt-3 mb-3 mr-3">
      <button mat-raised-button color="primary" (click)="loadMore()" *ngIf="list.length && count > list.length">Load more</button>
      </div>
  