<div>
  <div class="flex bg-white-500">
    <div class="flex flex-row">
      <app-content-navbar></app-content-navbar>
      <h3 class="font-bold text-gray-500 p-2">Employee Data Form</h3>
    </div>

  </div>
  <!-- card design -->
  <div class="bg-gray-100">

    <div class="mx-3 my-3 p-3 ">
      <div class=" box-border">
        <div style="width: 100%;">
          <mat-card style="margin: 10px 0px">
            <div style="display: flex; justify-content:center">
              <img class="rounded-full w-24 " src="assets/images/profile.jpg" alt="">
            </div>
            <div style="display: flex; justify-content: space-between;">
              <div class="max-w-[60%] p-2 flex flex-col">
                <span class="text-grey-400 text-base "> <i
                    class="fa-solid fa-user mr-2"></i>{{employee?.personalDetails[0].firstName | titlecase}} {{employee?.personalDetails[0].middleName | titlecase}} {{employee?.personalDetails[0].lastName | titlecase}}</span>
                <span class="text- text-base "><i class="fa-solid fa-calendar-days mr-2"></i>
                  {{employee?.personalDetails[0].dob | date :'dd/MM/yyyy'}}</span>
                <span class="text-grey-400 text-base"><i class="fa-solid fa-suitcase mr-2"></i>
                  {{employee?.personalDetails[0].designation | titlecase}} </span>
              </div>
              <div class="p-2 flex flex-col">
                <span class="text-grey-400 text-base"><i
                    class="fa-solid fa-envelope mr-2"></i>{{employee?.personalDetails[0].email }}</span>
                <span class="text-grey-400 text-base"><i
                    class="fa-solid fa-mobile-retro mr-2"></i>{{employee?.personalDetails[0].ph_no }} </span>
              </div>
            </div>
          </mat-card>
        </div>


        <!-- employee detail -->
        <mat-accordion class="mx-4 ">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" >
            <mat-expansion-panel-header style="background-color: #dc3545">
              <mat-panel-title class="text-base" style="color:white">
             Personal Details
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="w-full flex">
                <div class="w-2/4 border-r-2 px-0">
                  <div class=" flex justify-between">
                    <div class="flex flex-col font">
                      <span class="">Name</span>
                      <span class="">Father name</span>
                      <span class="">Marital status</span>
                    </div>
                    <div class="flex flex-col mx-4">
                      <span>{{employee?.personalDetails[0].fullName | titlecase}}</span>
                      <span>{{employee?.personalDetails[0].fatherName | titlecase}}</span>
                      <span>{{employee?.personalDetails[0].marital_status | titlecase}}</span>
                    </div>
                  </div>
                </div>
  
                <div class="w-2/4 border-l-2">
                  <div class="flex justify-between">
  
                    <div class=" flex flex-col mx-4 font ">
                      <span>Blood group </span>
                      <span>Aadhar no </span>
                      <span>Address </span>
                    </div>
  
                    <div class=" flex flex-col">
                      <span>{{employee?.personalDetails[0].bloodGroup | titlecase}}</span>
                      <span>{{employee?.personalDetails[0].aadhara_no }}</span>
                      <span>{{employee?.personalDetails[0].address | titlecase}}</span>
                   </div>
                  
                  </div>          
                </div>  
              </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" >
            <mat-expansion-panel-header style="background-color: #dc3545">
              <mat-panel-title class="text-base" style="color:white">
                Experience details
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="w-full flex" *ngFor="let exp of employee?.experienceDetails">
                <div class="w-2/4 border-r-2 px-0">
                  <div class=" flex justify-between">
                    <div class="flex flex-col font">
                      <span class="">Company name</span>
                      <span class="">Designation</span>
                      <span class="">Experience</span>
                    </div>
                    <div class="flex flex-col mx-4">
                      <span>{{exp.companyName | titlecase}}</span>
                      <span>{{exp.designation | titlecase}}</span>
                      <span>{{exp.yearOfExp}}</span>
                    </div>
                  </div>
                </div>
              </div>
          </mat-expansion-panel>

          <!-- Department details -->
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" >
            <mat-expansion-panel-header style="background-color: #dc3545">
              <mat-panel-title class="text-base" style="color:white">
                Department details
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="w-full flex" *ngFor="let dep of employee?.departmentDetails">
                <div class="w-2/4 border-r-2 px-0">
                  <div class=" flex justify-between">
                    <div class="flex flex-col font">
                      <span class="">Department</span>
                      <span class="">Team leader</span>
                      <span class="">Date of joining</span>
                    </div>
                    <div class="flex flex-col mx-4">
                      <span>{{dep.dept_name | titlecase}}</span>
                      <span>{{dep.teamLeader | titlecase}}</span>
                      <span>{{dep.doj | date :'dd/MM/yyyy'}}</span>
                    </div>
                  </div>
                </div>
              </div>
          </mat-expansion-panel>

          <!-- Emergency details -->
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" >
            <mat-expansion-panel-header style="background-color: #dc3545">
              <mat-panel-title class="text-base" style="color:white">
                Emergency details
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="w-full flex" *ngFor="let emg of employee?.emergencyDetails">
                <div class="w-2/4 border-r-2 px-0">
                  <div class=" flex justify-between">
                    <div class="flex flex-col font">
                      <span class="">Name</span>
                      <span class="">Contact number</span>
                      <span class="">Relation with </span>
                    </div>
                    <div class="flex flex-col mx-4">
                      <span>{{emg.name | titlecase}}</span>
                      <span>{{emg.contact_no }}</span>
                      <span>{{emg.relation_with}}</span>
                    </div>
                  </div>
                </div>

                <div class="w-2/4 border-l-2">
                  <div class="flex justify-between">
  
                    <div class=" flex flex-col mx-4 font ">
                      <span>Age </span>
                      <span>Address </span>
                    </div>
  
                    <div class=" flex flex-col">
                      <span>{{emg?.age}}</span>
                      <span>{{emg?.address | titlecase}}</span>
                   </div>
                  
                  </div>          
                </div> 
              </div>
          </mat-expansion-panel>


          <!-- Qualification details -->
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" >
            <mat-expansion-panel-header style="background-color: #dc3545">
              <mat-panel-title class="text-base" style="color:white">
                Qualification details
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="w-full flex">
                <div class="w-2/4 border-r-2 px-0">
                  <div class=" flex justify-between">
                    <h3> SSLC</h3>
                    <div class="flex flex-col font">
                    
                      <span class="">Year of passing</span>
                      <span class="">Marks</span>
                    </div>
                    <div class="flex flex-col mx-4">
                      <span>{{employee?.qualificationDetails[0].sslc.yearOfPassing }}</span>
                      <span>{{employee?.qualificationDetails[0].sslc.marks }}</span>
                    </div>
                  </div>
                </div>

                <div class="w-2/4 pl-4">
                  <div class="flex justify-between">
                    <h3> PUC</h3>
                    <div class=" flex flex-col mx-4 font ">
                      <span class="">Year of passing</span>
                      <span class="">Specialization</span>
                      <span class="">Marks</span>
                    </div>
                    <div class=" flex flex-col">
                      <span>{{employee?.qualificationDetails[0].puc.yearOfPassing }}</span>
                      <span>{{employee?.qualificationDetails[0].puc.specialization }}</span>
                      <span>{{employee?.qualificationDetails[0].puc.marks }}</span>
                   </div>
                  </div>          
                </div> 
              </div>
              <div class="w-full flex">
                <div class="w-2/4 border-r-2 px-0">
                  <div class=" flex justify-between">
                    <h3> Degree</h3>
                    <div class="flex flex-col font">
                    
                      <span class="">Year of passing</span>
                      <span class="">Specialization</span>
                      <span class="">Marks</span>
                    </div>
                    <div class="flex flex-col mx-4">
                      <span>{{employee?.qualificationDetails[0].degree.yearOfPassing }}</span>
                      <span>{{employee?.qualificationDetails[0].degree.specialization }}</span>
                      <span>{{employee?.qualificationDetails[0].degree.marks }}</span>
                    </div>
                  </div>
                </div>
                </div>
          </mat-expansion-panel>

          <!-- Account details -->
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" >
            <mat-expansion-panel-header style="background-color: #dc3545">
              <mat-panel-title class="text-base" style="color:white">
                Account details
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="w-full flex">
                <div class="w-2/4 border-r-2 px-0">
                  <div class=" flex justify-between">
                    <div class="flex flex-col font">
                      <span class="">Account number</span>
                      <span class="">Branch</span>
                      <span class="">IFSC code</span>
                    </div>
                    <div class="flex flex-col mx-4">
                      <span>{{employee?.accountDetails[0].acc_number }}</span>
                      <span>{{employee?.accountDetails[0].branch | titlecase}}</span>
                      <span>{{employee?.accountDetails[0].ifscCode}}</span>
                    </div>
                  </div>
                </div>
                <div class="w-2/4  pl-4">
                <div class=" flex justify-between">
                  <div class="flex flex-col font">
                    <span class="">PAN number</span>
                    <span class="">UAN</span>
                  </div>
                  <div class="flex flex-col mx-4">
                    <span>{{employee?.accountDetails[0].panCard }}</span>
                    <span>{{employee?.accountDetails[0].uan_no}}</span>
                    <span>{{employee?.accountDetails[0].ifscCode}}</span>
                  </div>
                </div>
                </div>
              </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>