<mat-toolbar class="w-full  " color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
      <div class="flex lg:flex-row ml-auto">
          <a mat-button [matMenuTriggerFor]="profileMenu" > <img src="assets/images/profile.jpg" class="profile-pic" alt="profile"> </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #profileMenu>
  <menu mat-menu-item (click)="action('profile')">    <mat-icon>
    manage_accounts</mat-icon> Profile</menu>
  <menu mat-menu-item (click)="action('logout')">   <mat-icon>logout</mat-icon> Logout</menu>
</mat-menu>
