<mat-toolbar class="w-full text-blue-600" >
  <mat-toolbar-row class="">
    <button mat-icon-button class="">
      <mat-icon>menu</mat-icon>
    </button>
   
    <div class="space">     
      <a mat-button> Total </a>
      <a
        mat-button
        [matMenuTriggerFor]="menu"
        color=""
        matBadge="13"
        matBadgePosition="before"
        matBadgeColor="accent"
        >Employees
      </a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item>Male 8</a>
        <a mat-menu-item>Female <span>5</span></a>
      </mat-menu>

      <div class="float-right flex ">
        <a class="mx-5" mat-button> Create Contact </a>
        <!-- <a mat-button> Admin & HR </a> -->
        <!-- <img
          src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
          class="rounded-full w-10 mr-5 "
          alt="Avatar"
        /> -->
        
          

      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
