<div class="flex-auto">
    <div class="flex flex-col">
      <app-content-navbar [isBack]="true" [title]="'Add designation'"></app-content-navbar>
      
      <!-- card design -->
      <div class="min-h-screen bg-gray-100" >
        <mat-card class="p-6 bg-white px-2 mx-3 my-3 ">
          <div class="p-2 clear-both">
          <form [formGroup]="designation" *ngIf="showForm" >
              <div class="flex ">
                <div class="w-11/12">
                  <div class="grid lg:grid-cols-1 gap-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Designation name</mat-label>
                      <input matInput placeholder="Please enter name of the designation" name="designationName"
                        formControlName="designationName" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="w-1/12 mx-8">
                    <button mat-raised-button color="primary"  [disabled]="!designation.valid" (click)="action()">Submit</button>
                  </div>
              </div>
          </form>
          </div>
        </mat-card>
      </div>
  