.gallery{
    position: relative;
    .close-icon{
      position: absolute;
      right: 0;
      background: #928f8f61;
      border-radius: 50%;
      cursor: pointer;
    }
    .img-box{
      width: 75px;
      height: 75px;
      object-fit: cover;
      border-radius: 8px;
      margin: 5px;
    }
    .file-name{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 72px;
      font-size: 12px;
    }
  }