<div *ngIf="data" class="flex flex-wrap">
    <div class="gallery">
      <mat-icon class="close-icon material-symbols-outlined" *ngIf="data" (click)="deleteConfirm(data)">
        cancel
      </mat-icon>
        <a target="_blank" href="{{data.link}}" target="system" title="{{data.name}}">
          <img *ngIf="data.contentType.includes('image')" class="img-box" src="{{data.link}}" alt="item._id">
          <img *ngIf="!data.contentType.includes('image')" class="img-box" src="assets/images/file.png"  alt="item._id">
          <div class="file-name">{{data.name}}</div>
        </a>
      </div>
    </div>