<div class="flex-auto">
    <div class="flex flex-col">
      <app-content-navbar [isBack]="true" [title]="'Roles'"></app-content-navbar>
      <div class="min-h-screen bg-gray-100">
        <div class="flex justify-end m-3 items-center">
          <div class="w-full">
                <mat-card class="p-6 bg-white px-2 mx-3 my-3">
                    <form >
                        <mat-form-field class="example-full-width">
                            <mat-label>Role name</mat-label>
                            <input
                            matInput
                            placeholder="Enter role name"
                            name="roleName"
                            [(ngModel)]="roleName"
                            />
                            <mat-error>Role name is required</mat-error>
                        </mat-form-field>
                            <div class="flex justify-between" *ngIf="!id">
                              <button mat-raised-button color=""  (click)="back()">Cancel</button>
                              <button mat-raised-button color="primary" (click)="create()">Submit</button>
                            </div>
                        </form>
                        </mat-card>
                        <mat-card class="p-6 bg-white px-2 mx-3 my-3" *ngIf="showPermission">
                    <table class="w-full">
                        <thead>
                            <th>Features</th>
                            <th colspan="5" class="text-center">Permissions</th>
                            </thead>
                            <tbody>
                                <tr class="custom-row">
                                    <td></td>
                                    <td><mat-checkbox class="example-margin"
                                        [checked]="allComplete"
                                        color="primary"
                                        (change)="setAll($event.checked,'view')">
                                        View
                                </mat-checkbox></td>
                                    <td><mat-checkbox class="example-margin"
                                        [checked]="allComplete"
                                        color="primary"
                                        (change)="setAll($event.checked,'add')">
                                        Add
                                </mat-checkbox></td>
                                            <td><mat-checkbox class="example-margin"
                                                [checked]="allComplete"
                                                color="primary"
                                                (change)="setAll($event.checked,'delete')">
                                                Delete
                                </mat-checkbox></td>
                                            <td><mat-checkbox class="example-margin"
                                                [checked]="allComplete"
                                                color="primary"
                                                (change)="setAll($event.checked,'manage')">
                                                Manage
                                </mat-checkbox></td>
                                <td><mat-checkbox class="example-margin"
                                    [checked]="allComplete"
                                    color="primary"
                                    (change)="setAll($event.checked,'update')">
                                    Update</mat-checkbox>
                                    </td>
                                </tr>
                               
                                <tr *ngFor="let permission of fields" class="custom-row" >
                                    <td>{{permission | titlecase}}
                                        </td>
                                        <td><section class="example-section">
                                            <mat-checkbox class="example-margin"  color="primary" [(ngModel)]="actions[permission].view"></mat-checkbox>
                                          </section>
                                        </td>
                                        <td><section class="example-section">
                                            <mat-checkbox class="example-margin"  color="primary" [(ngModel)]="actions[permission].add"></mat-checkbox>
                                          </section>
                                        </td>
                                        <td>
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin"  color="primary" [(ngModel)]="actions[permission].delete"></mat-checkbox>
                                              </section>
                                        </td>
                                        <td>
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin"  color="primary" [(ngModel)]="actions[permission].manage"></mat-checkbox>
                                              </section>
                                        </td>
                                        <td>
                                            <section class="example-section">
                                                <mat-checkbox class="example-margin"  color="primary" [(ngModel)]="actions[permission].update"></mat-checkbox>
                                              </section>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>
                </mat-card>
                <mat-card class="p-6 bg-white px-2 mx-3 my-3"  *ngIf="showPermission">
                    <div class="p-2 clear-both">
                    <div class="flex justify-between">
                      <button mat-raised-button color=""  (click)="back()">Cancel</button>
                      <button mat-raised-button color="primary" (click)="submit()">Update permission</button>
                    </div>
                    </div>
                </mat-card>
            </div>
            </div>
            </div>
        </div>
        </div>
