 <div class="container" style="margin-top:150px ">
  <div class="row justify-content-md-center">
    <div class="col-md-5 border p-3 shadow">
      <img class="icon" style="margin:15px auto" src="assets/images/logo2.png" alt="" width="100px">        
      <div class="text-center" style="line-height: 0.3;">
       <h2>Login</h2>
      </div>
      <form autocomplete="off">
        <div class="form-group mt-4 mb-3">
          <label for="">Email</label>
          <input
            type="email"
            name="email"
            placeholder="Enter your Email"
            class="form-control"
          />
        </div>
        <div class="form-group mb-3">
          <label for="">Password</label>
          <input
            type="password"
            name="password"
            placeholder=" Enter your Password"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="col-12 col-md-4 col-sm-6">
            <button type="submit" class="btn btn-success shadow">Login</button>
          </div>
          <div class="col-12 col-md-8 col-sm-6">
           <p><a class="float-end " style="font-size:15px" routerLink="../forgot-password" >
            Forgot Password ?
          </a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> 

