.card-custom {
  padding: 15px 15px;
  vertical-align: initial;
  background: #fff;
  border-radius: 6px;
}

.card-custom:hover{
  color: #fff;
  transition: all .3s ease-in-out;
  transform: scale(1.03);
  cursor: pointer;
  background: #3f51b5;

}