<div class="flex-auto">
  <div class="flex flex-col">
    <app-content-navbar [isBack]="true" [title]="'Salary grade'"></app-content-navbar>


    <!-- card design -->
    <div class="min-h-screen  bg-gray-100 my-3">
      <mat-card class="p-6 bg-white px-2 mx-3 my-3">
        <div class="p-2 clear-both">
          <form [formGroup]="salaryGrade" *ngIf="showForm">
            <div class="flex">
              <div class="w-full">
                <div class="grid lg:grid-cols-1 gap-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Grade</mat-label>
                    <input matInput name="grade" formControlName="grade" />
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>From</mat-label>
                    <input matInput name="from" formControlName="from" />
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>To</mat-label>
                    <input matInput name="to" formControlName="to" />
                  </mat-form-field>
                </div>
                <div formArrayName="breakups">
                  <div class="flex justify-between my-4">
                    <h3 class="text-gray-600"> Breakups</h3>
                    <button type="button" (click)="addBreakups()" mat-mini-fab>
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>

                  <div *ngFor="let salary of breakups().controls; let i=index" [formGroupName]="i">
                    <div class="flex my-4">
                      <div class="w-11/12">
                        <div class="grid lg:grid-cols-2 gap-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput name="name" formControlName="name" />
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                            <mat-label>Percentage</mat-label>
                            <input matInput name="percentage" formControlName="percentage" />
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="w-1/12 flex justify-end items-center">
                        <div>
                          <button (click)="removeBreakups(i)" color="warn" mat-mini-fab>
                            <mat-icon>remove</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div formArrayName="deduction">
                  <div class="flex justify-between my-4">
                    <h3 class="text-gray-600">Deduction</h3>
                    <button type="button" (click)="addDeduction()" mat-mini-fab>
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>

                  <div *ngFor="let deductsalary of deduction().controls; let i=index" [formGroupName]="i">
                    <div class="flex my-4">
                      <div class="w-11/12">
                        <div class="grid lg:grid-cols-3 gap-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput name="name" formControlName="name" />
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                            <mat-label>Percentage</mat-label>
                            <input matInput name="percentage" formControlName="percentage" />
                          </mat-form-field>
                          
                          <mat-form-field class="example-full-width">
                            <mat-label>Amount</mat-label>
                            <input matInput name="amount" formControlName="amount" />
                      
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="w-1/12 flex justify-end items-center">
                        <div>
                          <button (click)="removeDeduction(i)" color="warn" mat-mini-fab>
                            <mat-icon>remove</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-end my-4">
              <button mat-raised-button color="primary" [disabled]="!salaryGrade.valid" (click)="submit()">
                Submit
              </button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>