.grade{
    mat-card{
        background-color: #efefef91;
    }
   
    mat-icon{
        border-radius: 20px;
        
        // height: 18px;
    // width: 20px;
    color: aliceblue;
    font-size:24px;
    font-weight:400;
    }
   
}