.grade{
    mat-card{
        background-color: #efefef91;
        padding: 0 16px ;
    }
   
    mat-icon{
        border-radius: 20px;
    color: aliceblue;
    font-size:19px;
    font-weight:400;
    height: 19px;
    width:19px;
    }
   
}