<div class="flex-auto">
    <div class="flex flex-col">
      <app-content-navbar [isBack]="false" [title]="'Document'">
      </app-content-navbar>
  
      <div class="bg-gray-100">
        <div class="flex justify-end m-3 items-center">
          <div class="ml-7">
            <button class="mx-2" *ngIf="selected_id " mat-raised-button color="primary" (click)="getLetter()">
              Get document
            </button>
            <button *ngIf="permissions?.manage || permissions?.add"  mat-raised-button color="primary" (click)="add()">
              Add document
            </button>
          </div>
        </div>
        <div style="margin: 15px" class="letter-container" >
      <no-data-found *ngIf="!documentList?.length"></no-data-found>
          <table *ngIf="documentList?.length"
          class="flex"
            mat-table
            [dataSource]="documentList "
            class="mat-elevation-z8 "
          >
          <ng-container  matColumnDef="selectRadio">
            <th mat-header-cell class="radio" *matHeaderCellDef> </th>
            <td mat-cell class="radio" *matCellDef="let row" >
              <mat-radio-group [(ngModel)]="row.selected" name="check" (change)="radioSelected(row)">
                <mat-radio-button [value]="row" name="check"></mat-radio-button>
            </mat-radio-group>
            </td>
          </ng-container>
            <ng-container  matColumnDef="Lettertype">
              <th mat-header-cell class="left"   *matHeaderCellDef>Letter name</th>
              <td mat-cell class="left"  *matCellDef="let element">
                {{element.letterName | titlecase}}
              </td>
            </ng-container>
            <ng-container *ngIf="permissions?.manage || permissions?.delete || permissions?.update" matColumnDef="actions">
              <th mat-header-cell class="right" *matHeaderCellDef>Action</th>
              <td mat-cell class="right" *matCellDef="let element">
                <button
                *ngIf="permissions?.manage ||permissions?.update" 
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a vertical three dot icon"
                  (click)="$event.stopPropagation(); action(element, 'edit')"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                *ngIf="permissions?.manage ||permissions?.delete" 
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a home icon"
                  (click)="$event.stopPropagation(); action(element, 'delete')"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="action(row, 'view')"
            ></tr>
            
          </table>
        </div>
      </div>
    </div>
  </div>
  


