<div class="flex-auto">
  <div class="flex flex-col">
    <app-content-navbar [isBack]="true" [title]="'Add letter'"></app-content-navbar>


    <!-- card design -->
    <div class="min-h-screen bg-gray-100">
      <mat-card class="p-6 bg-white px-2 mx-3 my-3 " *ngIf="data">
        <div class="p-2 clear-both">
          <form [formGroup]="data">
            <div class="flex ">
              <div class="w-full">
                <div class="grid lg:grid-cols-2 gap-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Letter name</mat-label>
                    <input matInput placeholder="Please enter letter name" name="letterName" formControlName="letterName">
                  </mat-form-field>
                 
                  <mat-form-field class="example-full-width">
                    <mat-label>Subject</mat-label>
                    <input matInput placeholder="Please enter subject" name="subject" formControlName="subject">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Company name</mat-label>
                    <input matInput placeholder="Please " name="companyName" formControlName="companyName">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>Remark</mat-label>
                    <input matInput placeholder="Please " name="signRemarks" formControlName="signRemarks">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>Sign</mat-label>
                    <input matInput placeholder="Please sign" name="signForm" formControlName="signForm">
                  </mat-form-field>
                  
                <mat-form-field class="example-full-width">
                  <mat-label> Body title</mat-label>
                  <input matInput placeholder="Please body title" name="bodyTitle" formControlName="bodyTitle">
                </mat-form-field>
              </div>

                <div class="grid lg:grid-cols gap-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Body</mat-label>
                  <textarea matInput placeholder="Please enter document body content" formControlName="body"></textarea>
                </mat-form-field>
                </div>
                  <div formGroupName="Options">
                    <div class="grid lg:grid-cols-5 gap-4">
                      <mat-form-field class="example-full-width">
                        <mat-label>Image position</mat-label>
                        <mat-select formControlName="imgPosition">
                          <mat-option *ngFor="let view of alignment" [value]="view.value ">
                            {{ view.viewValue | titlecase }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Sign position</mat-label>
                        <mat-select formControlName="signPosition">
                          <mat-option *ngFor="let view of alignment" [value]="view.value ">
                            {{ view.viewValue | titlecase }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Date position</mat-label>
                        <mat-select formControlName="datePosition">
                          <mat-option *ngFor="let view of alignment" [value]="view.value ">
                            {{ view.viewValue | titlecase }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Subject position</mat-label>
                        <mat-select formControlName="subjectPosition">
                          <mat-option *ngFor="let view of alignment" [value]="view.value ">
                            {{ view.viewValue | titlecase }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="example-full-width">
                        <mat-label>Reciever position</mat-label>
                        <mat-select formControlName="reciever">
                          <mat-option *ngFor="let view of alignment" [value]="view.value ">
                            {{ view.viewValue | titlecase }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
                <div>
                  <!-- <app-file-upload [data]="data"></app-file-upload> -->
                  <div class="fileControl-wrapper ">
                    <div style="padding: 0 0px;">
                      <label> upload sign  :</label>
                      <input matInput readonly name="File"  hidden />
                      <img src="assets/images/file-upload.png" style="width: 70px;" (click)="uploadControlSign.click()">

                      <div *ngFor="let file of data.value.files; let i = index">
                        <app-file-list [data]="file" [index]="i"></app-file-list>
                        </div>
                    </div>
                    <input type="file" #uploadControlSign id="fileControlInput" (change)="onFileChange($event,'sign')" name="fileControlInput" 
                      multiple="multiple" />
                
                    <div style="padding: 0 0px;">
                      <label> upload logo :</label>
                      <input matInput readonly name="File"  hidden />
                      <img src="assets/images/file-upload.png" style="width: 70px;" (click)="uploadControl.click()">
                    </div>
                    <input type="file" #uploadControl id="fileControlInput" (change)="onFileChange($event,'logo')" name="fileControlInput" 
                      multiple="multiple" />
                  </div>
                  <div *ngFor="let file of data.value.files; let i = index">
                    <app-file-list [data]="file" [index]="i"></app-file-list>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="flex justify-end">
              <button mat-raised-button color="primary" [disabled]="!data.valid" (click)=" action()">Submit</button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>