<div class="flex-auto">
  <div class="flex flex-col">
    <app-content-navbar
      [isBack]="true"
      [title]="'Settting'"
    ></app-content-navbar>

    <!-- card design -->
    <div class="min-h-screen bg-gray-100 my-3">
      <mat-card class="p-6 bg-white px-2 mx-3 my-3">
        <div class="p-2 clear-both">
          <form [formGroup]="setting" enctype="multipart/form-data">
            <div class="flex">
              <div class="w-full">
                <div class="grid lg:grid-cols-1 gap-4">
                    <input
                    hidden
                      type="file"
                      #logUpload
                      accept=".jpeg,.jpg,.png"
                      (change)="onFileChange($event)"
                      formControlName="logo"
                    />

                    <div class=" relative ">
                      <img  src="assets/images/setting-logo.jpg" alt="logo" class="w-32 border ">
                      <button class="absolute right-2 top-6 my-2"  (click)="logUpload.click()"> <mat-icon>edit</mat-icon></button>
                    </div>

                  <mat-form-field class="example-full-width">
                    <mat-label> Company name</mat-label>
                    <input
                      matInput
                      placeholder="Please enter companyname"
                      name="companyName "
                      formControlName="companyName"
                    />
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input
                      matInput
                      placeholder="Please enter address"
                      name="address"
                      formControlName="address"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>brandFooter</mat-label>
                    <input
                      matInput
                      placeholder="Please enter brandFooter"
                      name="brandFooter"
                      formControlName="brandFooter"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="align">
              <button mat-raised-button color="primary" (click)="submit()">
                Submit
              </button>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<!-- class="absolute top-0 z-10 h-full w-full cursor-pointer opacity-0" -->
