.mat-action-row {
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mat-expansion-panel-body {
  padding: 9px 24px;
}

.flex{
  .mat-expansion-panel-body {
    padding:0 !important;
  }
}


.mat-expansion-panel{
  height: auto;
  padding: 10px 0px;
}

::ng-deep{
  *, ::before, ::after {
    border-color: #3e51b4;
}
}