<div class="flex flex-col">
  <div class="flex flex-col bg-white-500">
    <div class="flex flex-row">
      <h3 class="font-bold text-gray-500 span-2">Emspanloyee Data Form</h3>
    </div>
    <!--span tag -->
  </div>

  <!-- card design -->
  <div class="min-h-screen bg-gray-100">
    <mat-card class="m-3 p-0">

      <div class="flex justify-between items-center m-0">
        <div class="flex flex-row items-center text-sm">
          <span class="font-bold "><i class="fa-sharp fa-solid fa-user"></i></span>
          <span class="text-grey-400 font-medium mx-2">001 Gagan </span>
        </div>
        <div class="flex flex-row items-center text-sm">
          <span class="font-bold "><i class="fa-sharp fa-solid fa-envelope"></i></span>
          <span class="text-grey-400 font-medium mx-2">g@gmail.com</span>
        </div>
      </div>

      <div class="flex justify-between items-center m-0 ">

        <div class="flex flex-row  items-center text-sm">
          <span class="text-grey-400 font-medium">1  Developer</span>
        </div>
        <div class="flex flex-row items-center text-sm">
          <span class="font-bold "><i class="fa-solid fa-id-badge"></i></span>
          <span class="text-grey-400 font-medium mx-3"> xxxxxxx585</span>
        </div>
      </div>

    </mat-card>
  </div>
</div>
