<div class="flex flex-col">
  <div class="flex flex-col bg-white-500">
    <div class="flex flex-row">
      <h3 class="font-bold text-gray-500 span-2">Emspanloyee Data Form</h3>
    </div>
    <!--span tag -->
  </div>

  <!-- card design -->
  <div class="bg-gray-100">

     <mat-card class="m-3 p-0 " *ngFor="let list of lists" (click)="onClick(list)" routerLink="/emp" >

      <div class="flex justify-between items-center m-0 " >
      <div class="w-5/12">
        <div class="flex flex-col">
          <span ><i class="fa-sharp fa-solid fa-user font-bold"></i><span class="text-grey-400 font-medium mx-2">{{list.name}}</span></span>      
          <span ><i class="fa-sharp fa-solid fa-user font-bold"></i><span class="text-grey-400 font-medium mx-2">{{list.name}}</span></span>         
        </div>
      </div>
      <div class="w-5/12">
        <div class="flex flex-col">
          <span ><i class="fa-sharp fa-solid fa-user font-bold"></i><span class="text-grey-400 font-medium mx-2">{{list.name}}</span></span>      
          <span ><i class="fa-sharp fa-solid fa-user font-bold"></i><span class="text-grey-400 font-medium mx-2">{{list.name}}</span></span>         
        </div>
      </div>
      <div class="w-2/12">
        <div class="flex flex-col">
          <span><i class="material-icons">arrow_forward_ios</i></span>
        
        </div>
      </div>
       
        <!-- <div class="flex flex-row items-center text-sm">
          <span class="font-bold "><i class="fa-sharp fa-solid fa-envelope"></i></span>
          <span class="text-grey-400 font-medium mx-2">{{list.emailId}}</span>
        </div> -->
      </div>

      <!-- <div class="flex justify-between items-center m-0 ">

        <div class="flex flex-row  items-center text-sm">
          <span class="text-grey-400 font-medium">{{list.EmpID}} Developer </span>
        </div>
        <div class="flex flex-row items-center text-sm">
          <span class="font-bold "><i class="fa-solid fa-id-badge"></i></span>
          <span class="text-grey-400 font-medium mx-3"> xxxxxxx585</span>
        </div>
      </div> -->
    <div class="2/12">
      <div class="ml-20">
      </div>
    </div>
  
    </mat-card> 
  </div>
</div>
