<div class="flex flex-col">
  <div class="flex flex-col bg-white-500">
    <div class="flex flex-row">
      <h3 class="font-bold text-gray-500 p-2">Employee Data Form</h3>
    </div>
    <!--p tag -->
  </div>

  <!-- card design -->
  <div class="min-h-screen bg-gray-100">
    <mat-card class="m-3 p-0">

      <div class="flex justify-between m-0">
        <div class="flex items-center text-lg">
          <p class="font-bold mx-2"><i class="fa-solid fa-user" ></i></p>
          <p class="text-grey-400 font-medium">Gagan</p>
        </div>
        <div class="flex flex-row items-center text-lg">
          <p class="font-bold mx-2"> <i class="fa-solid fa-envelope"></i></p>
          <p class="text-grey-400 font-medium mx-2">g@gmail.com</p>
        </div>
      </div>

      <div class="flex justify-between items-center m-0 ">
        <div class="flex items-center text-lg">
          <p class="font-bold mx-2">S/NO :</p>
          <p class="text-grey-400 font-medium">1</p>
        </div>
        <div class="flex flex-row items-center text-lg">
          <p class="font-bold "><i class="fa-solid fa-id-badge"></i></p>
          <p class="text-grey-400 font-medium mx-3">  xxxxxxx585</p>
        </div>
      </div>

    </mat-card>
  </div>
</div>
