<div class="flex-auto">
    <div class="flex flex-col">
    <app-content-navbar [isBack]="true" [title]="'Add shift'"></app-content-navbar>
      
  
      <!-- card design -->
      <div class="min-h-screen bg-gray-100">
        <mat-card class="p-6 bg-white px-2 mx-3 my-3 ">
          <div class="p-2 clear-both">
          <form [formGroup]="shift" *ngIf="showForm">
              <div class="flex ">
                <div class="w-full">
                  <div class="grid lg:grid-cols gap-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Shift name</mat-label>
                      <input matInput placeholder="Please enter name of the shift" name="shift_name"
                        formControlName="shift_name" >
                    </mat-form-field>

                    <!-- <mat-form-field class="example-full-width">
                      <mat-label>From  </mat-label>
                      <input matInput [matDatepicker]="pickerFrom" readonly placeholder="Please enter the from date" name="fromDate" formControlName="fromDate">
                      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFrom></mat-datepicker>
                      <mat-error>Please provide Date of birth</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <mat-label>To </mat-label>
                      <input matInput [matDatepicker]="pickerTO" readonly placeholder="Please enter the to date" name="toDate" formControlName="toDate">
                      <mat-datepicker-toggle matSuffix [for]="pickerTO"></mat-datepicker-toggle>
                      <mat-datepicker #pickerTO></mat-datepicker>
                      <mat-error>Please provide Date of birth</mat-error>
                    </mat-form-field> -->
                  </div>
                  <div class="grid lg:grid-cols-2 gap-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Start time</mat-label>
                      <input matInput  [ngxTimepicker]="picker" placeholder="Please enter the start time" name="fromTime" formControlName="fromTime">
                      <ngx-material-timepicker #picker></ngx-material-timepicker>
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                      <mat-label>End time</mat-label>
                      <input matInput  [ngxTimepicker]="picker2" placeholder="Please enter end time" name="toTime" formControlName="toTime"  >
                      <ngx-material-timepicker #picker2></ngx-material-timepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            <div class="flex justify-end">
              <button mat-raised-button color="primary"  [disabled]="!shift.valid" (click)="action()">Submit</button>
            </div>
          </form>
          </div>
        </mat-card>
      </div>
  </div>
</div>