<no-data-found *ngIf="!leavesList.length"></no-data-found>

<app-content-navbar [isBack]="false" [title]="'Leave manage'"> </app-content-navbar>

<div class="m-4 manage-leave" *ngIf="leavesList.length">
  <mat-accordion class="my-4 mx-4" *ngFor="let list of leavesList">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      class="border"
    >
      <mat-expansion-panel-header class="flex custom-panel p-4">
        <div class="lg:w-3/12 w-3/12 md:w-3/12 sm:w-3/12">
          <span class="flex flex-col">
            <small class="text-gray-500 text-base mb-2">Name</small>
            <span class="text-base"
              >{{ list.applicantName | titlecase }}
            </span>
          </span>
        </div>

        <div class="lg:w-2/12 w-2/12 md:w-2/12 sm:w-2/12">
          <span class="flex flex-col">
            <small class="text-gray-500 text-base mb-2">From date</small>
            <span class="text-base"
              >{{ list.start_date | date: "shortDate" }}
            </span>
          </span>
        </div>
        <div class="lg:w-2/12 w-2/12 md:w-2/12 sm:w-2/12">
          <span class="flex flex-col">
            <small class="text-gray-500 text-base mb-2">To date</small>
            <span class="text-base">{{
              list.end_date | date: "shortDate"
            }}</span>
          </span>
        </div>
        <div class="lg:w-2/12 w-2/12 md:w-2/12 sm:w-2/12">
          <span class="flex flex-col">
            <small class="text-gray-500 text-base mb-2"> No of days</small>
            <span class="text-base">{{ list?.leaveDays}}</span>
          </span>
        </div>

        <div class="lg:w-3/12 w-3/12 md:w-3/12 sm:w-3/12">
          <div class="flex flex-col">
            <small class="text-gray-500 text-base mb-2"> Applied on </small>
            <span class="text-base">
              {{ list?.requested_at | date: "short" }}</span
            >
          </div>
        </div>
      </mat-expansion-panel-header>

      <!-- <div style="padding: 15px"> -->
      <div class="flex justify-between items-center text">
        <div class="w-9/12 lg:w-9/12 sm:w-9/12 md:w-9/12">
          <small class="text-gray-500 text-base mr-4">Reason :</small>
          <span class="">{{ list.reason }}</span>
        </div>
        <div class="flex flex-row w-3/12 lg:w-3/12 sm:w-3/12 md:w-3/12">
          <mat-form-field class="text-base w-full">
            <mat-select
              [(value)]="list.leaveStatus"
              (click)="$event.stopPropagation(); onChangeStatus($event)"
            >
              <mat-option
                *ngFor="let status of leaveStatus"
                [value]="status.value"
              >
                {{ status.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div class="w-full">
          <mat-form-field class="example-full-width w-full">
            <mat-label> Remark </mat-label>
            <input
              matInput
              placeholder="Give remark"
              value=""
              [(ngModel)]="list.remarks"
            />
          </mat-form-field>
        </div>
        <div class="ml-4">
          <button
            class="ml-4"
            mat-raised-button
            color="primary"
            (click)="submit(list)"
          >
            Submit
          </button>
        </div>
      </div>
      <!-- </div> -->
    </mat-expansion-panel>
  </mat-accordion>
</div>
