.manage-leave {
  mat-expansion-panel {
    padding-right: 0;
  }


  .mat-expansion-panel-header {
    padding: 1rem 1.5rem !important;
  }
  // .mat-action-row-custom {
  //   justify-content: flex-start;
  //   padding-top: 5px;
  //   padding-bottom: 5px;
  // }
  .mat-expansion-panel-header {
    height: 4rem !important;
}
}
