<app-content-navbar [isBack]="false" [title]="'Applying for leave'"> </app-content-navbar>

<mat-card class="m-4">
  <form [formGroup]="leaveForm">
    <div class="grid grid-cols-2 gap-3">
      <mat-form-field appearance="outline">
        <mat-label>Leave type</mat-label>
        <mat-select name="leaveType" formControlName="leaveType">
          <mat-option
            *ngFor="let type of leaveTypeList"
            [value]="type.typeName"
          >
            {{ type.typeName | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error>Select leave type</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="managers?.length">
        <mat-label>Applying to</mat-label>
        <mat-select name="applyingTo" (selectionChange)="setApplyTo($event)">
          <mat-option *ngFor="let manager of managers" [value]="manager?._id">
            {{ manager?.firstName | titlecase }} {{ manager?.fatherName | titlecase }}
            {{ manager?.lastName | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-4 gap-3">
      <mat-form-field appearance="outline">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="pickersd" (dateChange)="dateChange()" (click)="pickersd.open()" readonly placeholder="Please enter start date" name="start_date" formControlName="start_date" >
        <mat-datepicker-toggle matSuffix [for]="pickersd"></mat-datepicker-toggle>
        <mat-datepicker #pickersd></mat-datepicker>
        <mat-error>Enter start date</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="pickered"  (dateChange)="dateChange()"  (click)="pickered.open()" readonly placeholder="Please enter end  date" name="end_date" formControlName="end_date" >
        <mat-datepicker-toggle matSuffix [for]="pickered"></mat-datepicker-toggle>
        <mat-datepicker #pickered></mat-datepicker>
        <mat-error>Enter start date</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>From session</mat-label>
        <mat-select name="fromSession" formControlName="fromSession">
          <mat-option *ngFor="let type of sessions" [value]="type.value">
            {{ type.label | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>To session</mat-label>
        <mat-select name="toSession" formControlName="toSession">
          <mat-option *ngFor="let type of sessions" [value]="type.value">
            {{ type.label | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid grid-cols gap-3">
      <mat-form-field appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea matInput name="reason" formControlName="reason"></textarea>
      </mat-form-field>

      <!-- <mat-form-field class="columns" >
        <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
        <ng-template #newFile>
          <mat-label>Choose file</mat-label>
        </ng-template>
        <input matInput  formControlName="file">
        <button mat-icon-button matSuffix (click)="fileInput.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input hidden (change)="selectFile($event)" #fileInput type="file" id="file" >
      </mat-form-field> -->
    </div>

    <div class="flex justify-end">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!leaveForm.valid"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
