
<div class="side-nav-content"   [ngClass]="expand ? 'expand' : 'collapse'">
    <div class="logo">
        <a href="/" class="logo-mini">
          <img src="assets/images/logo2.png" alt="logo of company"  *ngIf="expand"/> 
        </a>
    </div>
    <img  src="assets/images/xlogo.png" alt="logo of company"  *ngIf="!expand"/>
    <mat-nav-list class="nav-list cursor-pointer" *ngIf="expand">
        <span *ngFor="let item of list">
          <span *ngIf="item.children && item.children.length > 0">
            <mat-accordion>
              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header  (click)="activateParentMenu(item)" [ngClass]="{'active-parent': item.name == selectedParentMenu}">
                  <mat-panel-title>
                    <!-- Cabeceras del submenu -->
                      <mat-icon class="icon">{{item.icon}}</mat-icon>
                      <span>  {{item.name}}
                          </span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <span *ngFor="let child of item.children"
                (click)="activateChildMenu(child)"  [ngClass]="{'active-child': child.name == selectedChildMenu}">
                  <mat-list-item [routerLink]="child.routeLink"  [ngClass]="{'active-child': child.name == selectedChildMenu}">
                    <!-- Entradas de cada submenú  -->
                      <mat-icon class="icon">{{child.icon}}</mat-icon>
                      <span>  {{child.name}} </span>
                  </mat-list-item>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
          <span *ngIf="!item.children || item.children.length === 0" class="mat-elevation-z0"
          (click)="activateParentMenu(item)">
            <mat-list-item [routerLink]="item.routeLink" [ngClass]="{'active-parent': item.name == selectedParentMenu}">
              <!-- Entradas principales -->
                <mat-icon class="icon">{{item.icon}}</mat-icon>
                <span>{{item.name}} </span>
            </mat-list-item>
          </span>
        </span>
      </mat-nav-list>

      <mat-nav-list class="nav-list cursor-pointer" *ngIf="!expand" (click)="toggleBtn()">
        <span *ngFor="let item of list" >
          <span class="mat-elevation-z0"
          (click)="activateParentMenu(item)">
            <mat-list-item [routerLink]="item.routeLink" [ngClass]="{'active-parent': item.name == selectedParentMenu}">
              <!-- Entradas principales -->
                <mat-icon class="icon">{{item.icon}}</mat-icon>
                <!-- <span>{{item.name}} </span> -->
            </mat-list-item>
          </span>
        </span>
      </mat-nav-list>
</div>